* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #ffffff;
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
  }
  
  .header {
	background-color: #353b48;
	color: #fff;
	padding: 20px 0;
  }
  
  .header__title {
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;
  }
  
  .main {
	display: flex;
  	flex-wrap: wrap;
	padding: 60px 0;
  }
  
  .card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(125, 125, 125, 0.2);
	overflow: hidden;
  }
  
  .card--description {
	flex-basis: 70%;
	padding: 0 30px 0 0;
  }
  
  .card--info {
	flex-basis: 30%;
	padding-left: 30px;
  }
  
  .card__title {
	background-color: #353b48;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 300;
	padding: 15px;
	margin: 0;
  }
  
  .card__text {
	font-size: 1.1rem;
	padding: 15px;
  }
  
  .card__list {
	list-style: none;
	margin: 0;
	padding: 15px;
  }
  
  .card__item {
	margin-bottom: 10px;
  }
  
  .card__item strong {
	margin-right: 10px;
  }