nav {
  background-color: #00000050;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.311);
  margin-top:-8px;
  position: fixed;
  top: 0;
  width:99%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 45px;
  width:45px;
}

.workmark {
  font-size: 23px;
  font-family: DM Sans;
  margin-left: 1rem;
}

.navbar-items {
  display: flex;
  list-style: none;
  margin: 0;
  font-family:Poppins;
}

.navbar-items li {
  margin-left: 1rem;
}

.navbar-items li:first-child {
  margin-left: 0;
}

.navbar-items a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
}

#about-item:hover {
  background-color: #e95459;
  color:white;
}

#math-item:hover {
  background-color: #ff9a52;
  color:white;
}

#science-item:hover {
  background-color: #ffe54f;
  color:white;
}

#reading-writing-item:hover {
  background-color: #5dbb63;
  color:white;
}

#homework-help-item:hover {
  background-color: #63c5da;
  color:white;
}

#test-prep-item:hover {
  background-color: #fc94af;
  color:white;
}

.toggle-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .navbar-items li {
    margin: 0;
    border-top: 1px solid #f2f2f2;
  }

  .navbar-items a {
    display: block;
    padding: 1rem;
  }

  .toggle-button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: transform 0.2s ease;
  }

  .bar:first-child {
    transform: translateY(-6px);
  }

  .bar:last-child {
    transform: translateY(6px);
  }

  .navbar-open .bar:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-open .bar:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar-open .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-open .navbar-items {
    display: flex;
  }
}

.content {
  padding:80px;
  padding-top: 100px; 
  text-align:center;
  font-family:Manrope;
  color:white;
  margin-top:-8px;
}

#nav-header {
  background-image: url('https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/620bd6d655f2044afa28bff4_glassmorphism.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-right:-8px;
  margin-left:-8px;
}

#title {
  font-size:75px;
  animation-name: fadeInFromBottom;
  animation-duration: 2s;
}

#description {
  animation-name: fadeInFromBottom;
  animation-duration: 2s;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll {
  background-color: white;
  transition: background-color 1s ease;
}

.unsticky {
  position: absolute;
  top: -100px; /* move the navbar off screen */
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

.unsticky.show {
  top: 0;
  opacity: 1;
}