nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin:-8px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 45px;
  width:45px;
}

.workmark {
  font-size: 23px;
  font-family: DM Sans;
  margin-left: 1rem;
}

.navbar-items {
  display: flex;
  list-style: none;
  margin: 0;
  font-family:Poppins;
}

.navbar-items li {
  margin-left: 1rem;
}

.navbar-items li:first-child {
  margin-left: 0;
}

.navbar-items a {
  text-decoration: none;
  color: #353535;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
}

#about-item:hover {
  background-color: #e95459;
  color:white;
}

#math-item:hover {
  background-color: #ff9a52;
  color:white;
}

#science-item:hover {
  background-color: #ffe54f;
  color:white;
}

#reading-writing-item:hover {
  background-color: #5dbb63;
  color:white;
}

#homework-help-item:hover {
  background-color: #63c5da;
  color:white;
}

#test-prep-item:hover {
  background-color: #fc94af;
  color:white;
}

.toggle-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .navbar-items li {
    margin: 0;
    border-top: 1px solid #f2f2f2;
  }

  .navbar-items a {
    display: block;
    padding: 1rem;
  }

  .toggle-button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: transform 0.2s ease;
  }

  .bar:first-child {
    transform: translateY(-6px);
  }

  .bar:last-child {
    transform: translateY(6px);
  }

  .navbar-open .bar:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-open .bar:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar-open .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-open .navbar-items {
    display: flex;
  }
}

#science-heading {
  text-align: center;
  padding:20px;
  font-family:Manrope;
  }
  
  .science-topics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  }
  
  .biology-card {
  background-color: #54ef69 ;
  box-shadow: 0 0px 10px rgba(123, 123, 123, 0.25);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .chemistry-card {
  background-color: #6bd7f5;
  box-shadow: 0 0px 10px rgba(123, 123, 123, 0.25);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .physics-card {
  background-color: #c274f0;
  box-shadow: 0 0px 10px rgba(123, 123, 123, 0.25);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  
  .biology-card h2 {
  font-size: 28px;
  color: #353535;
  margin-bottom: 10px;
  }
  
  .chemistry-card h2 {
  font-size: 28px;
  color: #353535;
  margin-bottom: 10px;
  }
  
  .physics-card h2 {
  font-size: 28px;
  color: #353535;
  margin-bottom: 10px;
  }
  
  .calculus-card h2 {
  font-size: 28px;
  color: #353535;
  margin-bottom: 10px;
  }
  
  .biology-card button {
  background-color: #ffffff00;
  color: #000000;
  border: none;
  padding: 10px;
  margin-left:90px;
  margin-right:90px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  }
  
  .chemistry-card button {
  background-color: #ffffff00;
  color: #000000;
  border: none;
  padding: 10px;
  margin-left:90px;
  margin-right:90px;  
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  }
  
  .physics-card button {
  background-color: #ffffff00;
  color: #000000;
  border: none;
  padding: 10px;
  margin-left:90px;
  margin-right:90px;  
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  }
  
  .calculus-card button {
  background-color: #ffffff00;
  color: #000000;
  border: none;
  padding: 10px;
  margin-left:90px;
  margin-right:90px;  
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  }
  